<div class="main-container">
    <h1>Editar</h1>
  <!-- personForm: nombre del formulario en la conexión con ts
    editPerson: método para activar al enviar el formulario por medio del submit, se carga con los datos preestablecidos y los registrados en el input
    cada formControlName se identifica con un campo de los asignados en la creación del formulario en ts-->
 <form [formGroup]="personForm" (ngSubmit)="editPerson(personForm.value)" class=" container">
    <fieldset disabled><!--desactiva las primeras casillas para que sean de solo lectura-->
        <div class="form-group">
          <label for="name">Nombres y Apellidos</label>
          <input type="text" formControlName = "name"class="form-control" id="disabledTextInput" placeholder="{{data.name}}">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" formControlName = "email" class="form-control" id="email" >
        </div>

        <div class="form-group">
          <label for="number">Teléfono</label>
          <input type="number" formControlName = "number" class="form-control" id="number">
        </div>

        </fieldset>

      <div class="form-group">
        <label for="answer1">{{data.question1}}</label>
        <input type="text" formControlName = "answer1" class="form-control" id="answer1" >
      </div>

      <div class="form-group">
        <label for="answer2">{{data.question2}}</label>
        <input type="text" formControlName = "answer2" class="form-control" id="answer2" >
      </div>

      <div class="form-group">
        <label for="answer3">{{data.question3}}</label>
        <input type="text" formControlName = "answer3" class="form-control" id="answer3" >
      </div>

      <button type="submit" class="btn btn-warning" style="margin-left:15px">Enviar</button>
    </form>
  </div>

<!--Loading para animación mientras cargan los datos-->
<ng-template #loading>
  <div class="container-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
