<div class="main-container" *ngIf="questions$ | async as question;else loading">
  <h1>Encuesta</h1>
  <!-- personForm: nombre del formulario en la conexión con ts
    onSaveForm: método para activar al enviar el formulario por medio del submit
    cada formControlName se identifica con un campo de los asignados en la creación del formulario en ts-->
  <form [formGroup]="personForm" (ngSubmit)="onSaveForm(question)" class=" container py-5 container-fluid">

    <div class="form-group">
      <label for="name">Nombres y Apellidos</label>
      <input type="text" formControlName = "name"class="form-control" id="name" placeholder="Tu Nombre">
      <div class="alert-danger" *ngIf="name.invalid &&  (name.dirty || name.touched)">
          El nombre es requerido y debe tener entre 5 y 50 caracteres
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" formControlName = "email" class="form-control" id="email" placeholder="Tu Email">
      <div class="alert-danger" *ngIf="email.invalid &&  (email.dirty || email.touched)">
        <div class="container-error-message" *ngIf="email.errors.required">
          El email es requerido
        </div>
        <div class="container-error-message" *ngIf="email.errors.pattern">
          Debe ingresar un formato de correo electrónico válido
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="number">Teléfono</label>
      <input type="number" formControlName = "number" class="form-control" id="number" placeholder="Tu Teléfono">
      <div class="alert-danger" *ngIf="number.invalid &&  (number.dirty || number.touched)">
          El número de telefono es requerido
      </div>
    </div>
    <div class="form-group">
      <label for="answer1">{{question.question1}}</label>
      <input type="text" formControlName = "answer1" class="form-control" id="answer1" placeholder="{{question.question1}}">
      <div class="alert-danger" *ngIf="answer1.invalid &&  (answer1.dirty || answer1.touched)">
        Este campo es requerido y debe tener entre 3 y 30 caracteres
      </div>
    </div>

    <div class="form-group">
      <label for="answer2">{{question.question2}}</label>
      <input type="text" formControlName = "answer2" class="form-control" id="answer2" placeholder="{{question.question2}}">
      <div class="alert-danger" *ngIf="answer2.invalid &&  (answer2.dirty || answer2.touched)">
        Este campo es requerido y debe tener entre 3 y 30 caracteres
      </div>
    </div>

    <div class="form-group">
      <label for="answer3">{{question.question3}}</label>
      <input type="text" formControlName = "answer3" class="form-control" id="answer3" placeholder="{{question.question3}}">
      <div class="alert-danger" *ngIf="answer3.invalid &&  (answer3.dirty || answer3.touched)">
        Este campo es requerido y debe tener entre 3 y 30 caracteres
      </div>
    </div>
      <button type="submit" class="btn btn-warning" style="margin-left:15px">Enviar</button>

  </form>
  <div *ngIf="personForm.valid">
    <button class=" btn-primary md-my-5"  (click)="exportAsXLSX(question)">Exporta tus respuestas en Excel</button>
  </div>

</div>

<ng-template #loading>
  <div class="container-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
